.App {
  width: 100%;
  text-align: center;
  background-color: white;
}

.App header {
  background-color: black;
  color: white;
  margin: 1em;
  padding-top: 1em;
  height: 15em;
}

.App .logo {
  margin-top: 2em;
  height: 10vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App header h1 {
  margin-top: 2em;
  text-transform: capitalize;
}