ul {
    padding: 0;
    padding-top: 1.5em;
    width: 60%;
    margin: auto;
}

li {
    list-style: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: large;
    border: 1px solid darkgray;
    font-weight: 800;
}

.rate {
    margin-left: 1em;
    margin-right: 1em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}