ul {
    padding: 0;
    padding-top: 1.5em;
    width: 100%;
}

li {
    list-style: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: large;
    border: 1px solid darkgray;
    font-weight: 800;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}